@media screen and (max-width: 529px) and (min-width: 250px){
    .container {
     width: 100%;
     padding: 0;
     margin:0;
     overflow: auto;
     
    }

   
  }
  @media screen and (max-width: 600px) and (min-width: 530px){
    .container{
        width: 80%;
        padding-left: 10%; 
        padding-right: 10%; 
        overflow: auto;
    }
  }
  @media screen and (min-width: 601px){
    .container{
        width: 60%;
        padding-left: 20%; 
        padding-right: 20%; 
        overflow: auto;
    }

  }
#quizBody{
    width: 100%;
    padding: 0;
    margin:0;
    background-color: white;
    box-shadow: 2px 12px 12px 6px #888888;
    margin-bottom: 1em;
}

#displayResult{
    width: 100%;
    padding: 0;
    margin:0;
    background-color: white;
    box-shadow: 2px 12px 12px 6px #888888;
    margin-bottom: 1em;
}
.quiz-contents{
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
   
}
#instructions{
    width:100%;
    text-align: center;
    justify-content: center;
    align-self: center;
    
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4em;
    margin-bottom: 4em;
}
#quizHeading{
    width:100%;
    text-align: center;
    justify-content: center;
    align-self: center;
    border-bottom: 5px solid grey;
    color: black;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
.footer{
    padding: 3em;
    text-align: center;
    justify-content: center;
    align-self: center;
    border-top: 5px solid grey;
    color: black;
    background-color: whitesmoke;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#result{
    width:100%;
    margin:5px;
    color: green;
    font-weight: bold;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.question{
    /* background-color: antiquewhite; */
    background-color: rgb(90, 158, 124);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:1em;
}
.answer{
    background-color: rgb(90, 158, 124);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:1em;
}

.wrapper{
    display:grid;
    grid-template-columns:50% 50%;
    grid-auto-rows: minmax(1px, auto);
  }  
.box1{
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}
.buttonDecor{
    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}
.buttonDecor:hover{
    background-color: grey;
    color:white;
}
.hide{
    display: none;
}